ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-row{
  text-align: center;
}

ion-avatar{
  margin: 0 auto;
}

.itemcentrado{
  text-align: center;
}

.centrado{
  margin: 0 auto;
}

:host {
  display: flex;
  width: 100%;
  align-items: center;
.type-toggle {
    padding-inline-end: 0.5rem;
.show-option,
    .hide-option {
      font-size: 1.2rem;
      display: block;
    }
  }
}

ion-card-header{
  text-align: center;
}