ion-content{
    --background: #fff url('../../../assets/prueba.jpg') no-repeat center center / cover;
    ion-card{
        width: 60%;
        --background: #fff url('../../../assets/un-ordenador-rodeado-de-libros.jpg') no-repeat center center / cover;
        ion-card-header{
            ion-img{
                width: 100px;
                margin: 0 auto;
            }
            ion-card-title{
                text-align: center;
                color: white;
               
            }
        }
        ion-card-content{
            margin-top: 20%;
            transform: translate(24%, -50%);
            ion-item{
                --background: transparent;
                color: white;
                ion-label{
                    text-align: center;
                    color: white;
                }
            }
            ion-button{
               text-align: center;
            }
        }
    }
}

/*#container{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(25%, -50%);
}*/
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 50%;
}

#formulario{
    width: 50%; 
    text-align: center;
    
} 