<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu disabled="true" style="text-align: center !important;" contentId="main-content" type="overlay">
      <ion-content>
        <ion-item>
          <ion-label style="text-align: center !important;"><h1><strong>Menú</strong></h1></ion-label>
        </ion-item>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [src]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button expand="block" (click)="this.Desconectarse()">Desconectar 
          <ion-icon style="margin-left: 10px;" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
