.icon{
    font-size: 100px;
}

.col{
    text-align: center;
}

ion-datetime{
    text-align: center;
    width: 100%;
}

ion-input{
    text-align: center;
}

/*ion-content{
    --background:linear-gradient(to right top, #ff0000, #ff0085, #dd65e1, #7d9aff, #00b7fd); ;
}*/
ion-item{
    --background: transparent;
}