<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="text-align: center;" justify-content-around>
        <ion-col>
          <ion-icon style="font-size: 100px;" src="../../assets/iconos-images/raw.svg"></ion-icon>
        </ion-col>  
    </ion-row>
  </ion-grid>
  <form [formGroup]="form" (ngSubmit)="this.sendForm()">
    <ion-grid>
      <ion-row justify-content-around>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Producto</ion-label>
            <ion-input formControlName="commodity" clearInput placeholder="Producto"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
            
        </ion-col>
      </ion-row>
      <ion-row justify-content-around>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Lote</ion-label>
            <ion-input formControlName="lote" clearInput placeholder="Lote"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Distribuidor</ion-label>
            <ion-input formControlName="supplier" clearInput placeholder="Distribuidor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-around>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha LLegada</ion-label>
            <ion-datetime formControlName="arrival_date" placeholder="Selecciona" displayFormat="YYYY-MM-DD"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha Inicio</ion-label>
            <ion-datetime formControlName="start_date" placeholder="Selecciona" displayFormat="YYYY-MM-DD"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-around>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha Finalización</ion-label>
            <ion-datetime formControlName="end_date" placeholder="Selecciona" displayFormat="YYYY-MM-DD"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <app-selects [model]="this.model_Select" [properti]="this.properti_model_Select" [selected]="this.select_signed"  (messageEvent)="this.getSelect($event)"></app-selects>
        </ion-col>
      </ion-row>
      <ion-row justify-content-around>
        <ion-col>
          <ion-button expand="block" (click)="this.getOut()">Volver 
            <ion-icon style="margin-left: 10px;" name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="this.rawMaterialRecord!=null" expand="block" color="danger" (click)="this.deleteRecord()">Delete 
            <ion-icon style="margin-left: 10px;" name="trash-outline"></ion-icon>
          </ion-button>   
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar 
            <ion-icon style="margin-left: 10px;" name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
